* {
  font-size: 40px;
  color: white;
  margin: 0;
}

.parent {
  background-color: orange;
  padding: 20px;
  margin: 20px;
  position: relative;
  height: 3000px;
}

.child-one {
  background-color: green;
  position: sticky;
  top: 0px;
}

.child-two {
  background-color: purple;
}

.child-three {
  background-color: blue;
}